.header-text {
    font-size: 2rem; 
    color: blueviolet;
    text-align: center; 
    font-weight: bold; 
    margin: 1rem 0; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    line-height: 1.5; 
  }
  
  
  .header-text {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
  



  
